COMPOSE_PROJECT_NAME=mailu
MAILU_VERSION=2024.06.49
TZ=America/New_York

DOMAIN=example.com
PRIMARY_HOSTNAME=mail.example.com
HOSTNAMES=mail.example.com,webmail.example.com
POSTMASTER=postmaster

HTTP_BIND_HOST=127.0.0.1
HTTP_PORT=8080
HTTPS_BIND_HOST=127.0.0.1
HTTPS_PORT=8443
SMTP_PORT=25
SMTPS_PORT=465
SUBMISSION_PORT=587
IMAP_PORT=143
IMAPS_PORT=993
MANAGESIEVE_PORT=4190

SUBNET=172.31.254.0/24

SECRET_KEY=replace-with-generated-secret-key
API_TOKEN=replace-with-generated-api-token

TLS_FLAVOR=cert
TLS_CERT_FILENAME=cert.pem
TLS_KEYPAIR_FILENAME=key.pem

AUTH_RATELIMIT_IP=25/hour
AUTH_RATELIMIT_USER=100/day
DISABLE_STATISTICS=True
SESSION_COOKIE_SECURE=False

ADMIN=true
WEBMAIL=roundcube
WEBDAV=none
API=true
WEB_ADMIN=/admin
WEB_WEBMAIL=/webmail
WEB_API=/api
WEBROOT_REDIRECT=/webmail

SITENAME=Self Hosted Mail
WEBSITE=https://webmail.example.com

DB_FLAVOR=sqlite
MESSAGE_SIZE_LIMIT=50000000
MESSAGE_RATELIMIT=200/day
RELAYNETS=
RELAYHOST=
SCAN_MACROS=true
ANTIVIRUS=none

INITIAL_ADMIN_ACCOUNT=admin
INITIAL_ADMIN_DOMAIN=example.com
INITIAL_ADMIN_PW=replace-with-generated-admin-password
INITIAL_ADMIN_MODE=ifmissing

CERTBOT_EMAIL=admin@example.com
CLOUDFLARE_DNS_API_TOKEN=replace-with-cloudflare-dns-edit-token
CERTBOT_IMAGE_TAG=latest
